@use '../../foundation' as *;

.p-top-recruit {
    position: relative;
    padding: 0;
}

.p-top-recruit__container {
    position: relative;
    z-index: 10;
    margin: prem(50) auto 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0; // gapなし
    align-items: stretch; // 高さを揃える

}

// 左側：画像
.p-top-recruit__image {
    width: 100%;
    position: relative;
    &::before {
        content: '';
        padding-top: 92%;
        display: block;
        max-height: 650px;
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// 右側：テキストコンテンツ（白背景ボックス）
.p-top-recruit__content {
    background: #0f2b0f; // 緑色の背景
    padding: prem(60) prem(50);
    text-align: center;
    height: 100%; // 高さ100%
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.p-top-recruit__title {
    font-size: prem(48);
    font-weight: normal;
    margin: 0 0 10px 0;
    letter-spacing: 0.05em;
}

.p-top-recruit__subtitle {
    font-size: prem(14);
    margin: 0 0 prem(30) 0;
    font-weight: 300;
    color: #666666;
}
.p-top-recruit__head {
    font-size: prem(26);
    font-weight: 500;
    margin: 0 0 prem(30) 0;
}
.p-top-recruit__text {
    font-size: prem(16);
    line-height: 1.8;
    margin: 0 0 prem(45) 0;
}

// ボタンのラッパー調整
.p-top-recruit__content .c-custom-button {
    margin: 0 auto;
}

// レスポンシブ
@media screen and (max-width: 768px) {
    .p-top-recruit__container {
        grid-template-columns: 1fr;
        margin: 0 auto;
    }
    
    .p-top-recruit__image {
        img {
            object-position: top center; // 画像の上部を表示
        }
    }
    
    .p-top-recruit__image::before {
        padding-top: 74%;
    }
    
    .p-top-recruit__content {
        transform: translateY(-1px);
        padding: prem(40) prem(20);
    }
    
    .p-top-recruit__title {
        font-size: prem(36);
    }
    
    .p-top-recruit__subtitle {
        font-size: prem(14);
        margin-bottom: 20px;
    }
    
    .p-top-recruit__text {
        font-size: prem(14);
        margin-bottom: 30px;
    }
    .p-top-recruit__head {
        font-size: prem(20);
        
    }
}
